@model MVC_Music.Models.Musician

@{
    ViewData["Title"] = "Edit Musician";
}

<h2>Edit Musician</h2>

<hr />
@{
    var hasPicture = (Model.MusicianPhoto?.Content != null);
    if (hasPicture)
        {
            @:<div>
                string imageBase64 = Convert.ToBase64String(Model.MusicianPhoto.Content);
                string imageSrc = string.Format("data:" + Model.MusicianPhoto.MimeType + ";base64,{0}", imageBase64);
                <img src="@imageSrc" alt="Profile Picture of @Model.FullName" title="Profile Picture of @Model.FullName" class="img-fluid rounded" />
            @:</div><hr />
        }
    }
<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <input type="hidden" asp-for="ID" />
    <input type="hidden" asp-for="RowVersion" />
    <div>
        @{
            if (hasPicture)
            {
                <div class="row">
                    <div class="form-check m-3">
                        <input class="form-check-input" type="checkbox" id="chkRemoveImage" name="chkRemoveImage">
                        <label class="form-check-label" for="chkRemoveImage">
                        <strong>Check to remove Image</strong>
                        </label>
                    </div>
                </div>
            }
        }
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label custom-file-label">Picture File:</label>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="thePicture" id="thePicture">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="SIN" class="control-label"></label>
                <input asp-for="SIN" class="form-control" />
                <span asp-validation-for="SIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Current Documents:</label>
                <div class="ml-md-3">
                    @{
                        int fileCount = Model.MusicianDocuments.Count;
                        if (fileCount > 0)
                        {
                            var firstFile = Model.MusicianDocuments.FirstOrDefault(); ;
                            if (fileCount > 1)
                            {
                                        <a class="" role="button" data-bs-toggle="collapse" href="#collapseDocs@(Model.ID)" aria-expanded="false" aria-controls="collapseDocs@(Model.ID)">
                                            Uploaded Files <span class="badge bg-info">@fileCount</span>
                                        </a>
                                <div class="collapse" id="collapseDocs@(Model.ID)">
                                    @{
                                        foreach (var d in Model.MusicianDocuments)
                                        {
                                            <a asp-action="Download" asp-route-id="@d.ID">@d.FileName</a> <br />
                                        }
                                    }
                                </div>
                            }
                            else
                            {
                                <a asp-action="Download" asp-route-id="@firstFile.ID">@firstFile.FileName</a>
                            }
                        }
                    }
                </div>
            </div>
            <div class="form-group">
                <label class="control-label custom-file-label">Upload Additional Documents:</label>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="theFiles" multiple="multiple">
                </div>
            </div>
            <div class="form-group">
                <label asp-for="InstrumentID" class="control-label"></label>
                <select asp-for="InstrumentID" class="form-control" asp-items="ViewBag.InstrumentID"></select>
                <span asp-validation-for="InstrumentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.Plays)</label>
                <div class="col-md-offset-1">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                List<MVC_Music.ViewModels.CheckOptionVM> checkboxes = ViewBag.PlayOptions;
                                foreach (var checkbox in checkboxes)
                                {
                                    if (cnt++ % 2 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedOptions"
                                               value="@checkbox.ID"
                                               @(Html.Raw(checkbox.Assigned ? "checked=\"checked\"" : "")) />
                                        @checkbox.DisplayText @:&nbsp;&nbsp;
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a href='@ViewData["returnURL"]'>Back to Musician List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
